body {
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::webkit-scrollbar {
    display: none;
}

nav {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav .my-cart {
    margin-left: 800px;
    max-width: 66px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    background: linear-gradient(to top, #ebebeb, #fff);
    overflow: hidden;
    width: 100%;
    height: 550px;
    margin-bottom: 30px;
    position: relative;
    padding: 0;
}

.item > figure {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40%;
}

.item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.item > div {
    position: absolute;
    right: 10%;
    top: 30%;
    z-index: 10;
    width: 40%;
    height: 100%;
    text-align: left;
}

.item > div {
    position: absolute;
    right: 10%;
    top: 30%;
    z-index: 10;
    width: 40%;
    height: 100%;
    text-align: left;
}

.item h3 {
    color: #222222;
}

.item h4 {
    color: #222222;
}

.item h6 {
    color: #CCCCCC;
    font-weight: 900;
}